<div class="row">
  <div class="col-md-8">
      <chart [options]="options" (load)="saveChart($event.context)"></chart>
  </div>
  <div class="col-md-4" style="height:500px; overflow-y:auto;">
    <h4>Readings</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let val of data; let i = index">
          <td>{{i}}</td>
          <td>{{val}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
